@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Rounded";
  src: url(./font/Rounded.ttf) format('truetype');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rounded', sans-serif;
  background-color: #000000;
}

*{
  /* font-family: 'Orbit', sans-serif; */
  font-family: 'Rounded', sans-serif;
}